@import "./design/tokens.css";
@import "./design/typography.css";
@import "./design/animations.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  min-height: 100vh;
}
