@import "./design/tokens.css";
@import "./design/typography.css";
@import "./design/animations.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
}

#app {
  min-height: 100vh;
}
