.mst-walkthrough[data-v-aa8ddb83]{display:flex;flex-direction:column;gap:2rem}.mst-walkthrough__list[data-v-aa8ddb83]{margin:.5rem 0 0;padding-left:1.25rem}.mst-walkthrough__list li[data-v-aa8ddb83]{margin-bottom:.4rem}
